{% extends 'account/base_login.html' %}
{% load i18n %}
{% block title %}- New Password{% endblock %}


{% block content %}
    <div class="reg-block">
        {% if validlink %}
            <form method="POST" action="">
                {% csrf_token %}
                <div class="reg-block-header">
                    <h2>{% trans 'New password' %}</h2>

                    <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
                </div>

                {% with errors=form.new_password1.errors %}
                    <div class="{% if errors %}has-error{% endif %}">
                        <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i
                                class="fa fa-lock"></i></span>
                            {{ form.new_password1 }}
                        </div>
                        {% if errors %}
                            {% for error in errors %}
                                <p class="help-block text-center">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                {% endwith %}

                {% with errors=form.new_password2.errors %}
                    <div class="{% if errors %}has-error{% endif %}">
                        <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i
                                class="fa fa-key"></i></span>
                            {{ form.new_password2 }}
                        </div>
                        {% if errors %}
                            {% for error in errors %}
                                <p class="help-block text-center">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                    </div>

                {% endwith %}

                {% with errors=form.non_field_errors %}
                    {% if errors %}
                        <div class="has-error">
                            {% for error in errors %}
                                <p class="help-block text-center">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <button type="submit"
                                class="btn-u btn-block">{% trans 'Change Password' %}</button>
                    </div>
                </div>

            </form>
        {% else %}
            <div class="reg-block-header">
                <h2>{% trans 'Password reset unsuccessful' %}</h2>

                <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
            </div>

        {% endif %}
    </div>
{% endblock %}