{% extends 'account/base_login.html' %}
{% load i18n %}
{% block title %}- Password Reset{% endblock %}

{% block content %}

    <div class="reg-block">

        <form method="POST" action="">
            {% csrf_token %}
            <div class="reg-block-header">
                <h2>{% trans 'Forgot your password?' %}</h2>

                <p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
            </div>

            {% with errors=form.email.errors %}
                <div class="{% if errors %}has-error{% endif %}">
                    <div class="input-group margin-bottom-20">
                        <span class="input-group-addon"><i
                                class="fa fa-envelope"></i></span>
                        {{ form.email }}
                    </div>
                    {% if errors %}
                        {% for error in errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>

            {% endwith %}

            {% with errors=form.non_field_errors %}
                {% if errors %}
                    <div class="has-error">
                        {% for error in errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit"
                            class="btn-u btn-block">{% trans 'Reset Password' %}</button>
                </div>
            </div>

        </form>
    </div>




{% endblock %}