{% extends user_type_template %}
{% load i18n %}
{% load static %}
{% block account_content %}
    <form class="form-horizontal" role="form" action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            {% with errors=field.errors %}
                <div class="form-group {% if errors %}has-error{% endif %}">
                    <div class="col-sm-offset-1 col-sm-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-sm-8">
                        {{ field }}
                        {% if errors %}
                            {% for error in errors %}
                                <span class="help-block">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endwith %}
        {% endfor %}

        {% with errors=form.non_field_errors %}
            {% if errors %}
                <div class="has-error">
                {% for error in errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="form-group pull-right">
            <button type="submit" class="btn-u btn-u-red rounded-2x" style="margin-right: 15px">
                Update
            </button>
        </div>
    </form>
{% endblock %}
