<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% load static %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <title>Virtual Patient Appointment Room</title>
        <link href="{% static 'plugins/appointment_room/css/bootstrap_global.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'plugins/appointment_room/css/style.css' %}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'plugins/appointment_room/fonts/fonts.css' %}" type="text/css" />
        <link href="{% static 'plugins/appointment_room/font-awesome/font-awesome.css' %}" type="text/css" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'plugins/appointment_room/css/jquery-ui.css' %}" type="text/css" />

        <script type="text/javascript" src="{% static 'plugins/appointment_room/js/jquery-1.8.3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/appointment_room/js/jquery-ui.js' %}"></script>

        <script type="text/javascript" src="//static.opentok.com/v2/js/opentok.min.js" ></script>
         <script type="text/javascript" src="{% static 'plugins/appointment_room/js/common.js' %}"></script>
         <script type="text/javascript" src="{% static 'plugins/appointment_room/js/patient.js' %}"></script>
    </head>
    <body>
        <!-- ==== video_header ======= --> 
        <div class="container-fluid">
            <div class="row">
                <div class="screen_header">
                    <div class="screen_logo"> <span><a href="#"><img class=" img-responsive" src="{% static 'plugins/appointment_room/images/screen_logo.png' %}" /></a></span>
                        <h1 class="patient_name">Mr Phil Mitchell</h1>
                        <h2 class="patient_short_detail">Oxford, UK</h2>
                    </div>
                    <div class="screen_time screen_time02">
                        <h6 id="session_timer">30:00</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ==== video_header ======= -->

        <!-- ==== video_Screen ======= -->
        <div class="container-fluid" id="container-fluid">
            <div class="row">
                <div class="innercont">
                    <div class="left_screen0002">
                        <span class="wt_patient">Waiting for Doctor</span>
                        <div id="doctor"></div> <!--Patient Video Block-->
                        <div class="inner_screen">
                            <div class="inner_screenbox">
                                <div class="inner_screen01">
                                    <h3 class="doctor_name">Dr Ramazan Donmez</h3>
                                    <p class="doctor_short_detail">Consultant Oncologist, Oxford, UK</p>
                                </div>

                                <div class="screen_icon">
                                    <ul>
                                        <li class="cross_icon01"><a href="javascript:void(0);" id="controllVideo" alt="stop" title="Turn off video"><img src="{% static 'plugins/appointment_room/images/cross_001.png' %}"/></a></li>
                                        <li class="cross_icon02"><a href="javascript:void(0);" id="controllAudio" alt="stop" title="Turn off audio"><img src="{% static 'plugins/appointment_room/images/cross0030.png' %}"/></a></li>
                                        <li class="cross_icon03"><a href="javascript:void(0);" id="end_session" title="End Session"><img src="{% static 'plugins/appointment_room/images/phn02.png' %}"/></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="inner_video">
                            <div class="inner_img">
                                <span  class="waitmsg">Waiting for Patient</span>
                                <div class="doc-pat-blk" id="patient"></div><!--Doctor Video Block-->
                            </div>
                        </div>
                    </div>
                    <div class="left_box ">
                        <div class="two-arrows">
                            <a class="closed_pen001" title="Hold mouse to drag left/right" href="javascript:void(0);"></a>
                            <a class="rt-close close_penal close_pena001" title="Click to hide side panel" href="javascript:void(0);"></a>
                        </div>
                        <div class="left_chat002">
                            <div class="chat_box">
                                <div class="inner_chat inner_chat02 chat_block">
                                    <ul>
                                        <li class="icon1 chat_active" id="chat"><a class="icon6" href="javascript:void(0);">Chat</a></li>
                                    </ul>
                                    <!--Chat Message Block Start-->
                                    <div class="chat-box chat-box023 lft" id="chat_div">
                                        <span id="display_name" class="patient_name" style="display:none;">Phil</span>
                                        <div class="chat_meg_block chat-comm chat-comm02 wrapper ps-container ps-active-y">
                                            <ul></ul>
                                        </div>

                                        <div class="chat_search">
                                            <div class="form-group">
                                                <input type="text" name="chat_msg" id="chat_msg" placeholder="Type Your Message..."  />
                                                <div class="leftsearch_icon"> <a href="javascript:void(0);" id="send_msg"><img src="{% static 'plugins/appointment_room/images/chat_msg.png' %}"/></a> </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <!--Chat Message Block Endt-->
                                </div>
                                <div class="chat_down">
                                    <!--<a href="javascript:void(0);" id='chat_blk'><img src="images/chat_down.png" /></a>-->
                                </div>
                            </div>

                        </div>
                        <!-- Dicom Viewer Start -->
                        <div class="left_dicom">
                            <div class=" full_icon002">
                                <a href="javascript:void(0);" class="pat_ful btn1" style="display: none;" id="fullscreen"><span>Full Screen</span><img src="{% static 'plugins/appointment_room/images/full_screen003.png' %}"/></a>
                            </div>
                            <div class="dicom_vr002" id="auto_dicom">
                                <span class="dicom_txt"><img class="img-responsive" src="{% static 'plugins/appointment_room/images/screen_logo.png' %}" /></span>
                            </div>
                        </div>
                         <!-- Dicom Viewer End -->
                    </div> 
                </div>
            </div>
        </div>

        <!-- ===================== Success/Error Pop Up Start===================== -->
        <section class="fixpopup err-vid" style="display:none;">
            <div class="fadebg"></div>
            <div class="poscenter innercont">
                <div class="error_msg_cont">
                    <span class="mainicon"><i class="fa fa-times-circle-o"></i></span>
                    <div class="maincont">
                        <div class="maincontinner">
                            <p class="error_msg"></p>
                            <a class="btn1 contbtn" id="refresh_page" title="Reload" href="javascript:void(0);">Reload <i class="fa fa-paper-plane-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ===================== Success/Error Pop Up End ===================== -->

        <script type="text/javascript">
            $(document).ready(function () {

                // Resize divs
                $(".left_screen0002").resizable({
                    containment: "#container-fluid",
                    alsoResizeReverse: ".left_box",
                    resize: function (event, ui) {

                    }
                });
            });
        </script>
    </body>
</html>
