{% extends 'doctor/account/base_account.html' %}
{% load i18n %}
{% load static %}
{% block account_content %}
    <div class="container content profile">
               <ul class="nav nav-tabs">
                    {% for tab in profile_tabs %}
                    <li {% if profile_active_tab == tab %}
                        class="active" {% endif %}>
                        <a href="{{ tab.href }}">
                            {% trans tab.title %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            {% include 'form_messages.html' %}
                        </div>
                    </div>
                    <div class="tab-content">
                    <br>
                        {% block profile_content %}
                        {% endblock %}
                    </div>
    </div><!--/container-->
{% endblock %}
