{% extends 'doctor/profile/base_profile.html' %}
{% load i18n %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/style_my_health.css' %}">
{% endblock %}
{% block profile_content %}
    <br>


    <table class="table">
        <tbody>
            <tr>
                <th scope="col">{% trans 'Specialty' %}</th>
                <th scope="col">{% trans 'Is Primary' %}</th>
                <th scope="col"></th>
            </tr>

            {% for specialty in specialties %}
            <tr>
                <td>{% trans specialty.specialty.name %}</td>

                <td>
                    {% if specialty.primary %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    {% endif %}
                </td>

                <td>
                    <a href={% url 'doctor:specialty_delete' specialty.id %}>
                        <button class="btn-u">
                            Delete
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <form class="form-inline" role="form" action="{% url 'doctor:specialty' %}" method="post">
                    {% csrf_token %}
            {{ from.non_field_errors }}
            <tr>
                {% for item in form %}
                    <td>{{ item }}
                    {{ item.errors }}</td>
                {% endfor %}
                <td>
                    <button type="submit" class="btn btn-u">{% trans 'Add' %}</button>
                </td>
            </tr>
            </form>
        </tbody>
    </table>

{% endblock %}

