{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div>
                <ul class="nav nav-justified sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                 {% for item in menus %}

                    <li class="list-group-item {% if item == active_menu %}active {% endif %}">

                        <a href="{{ item.href }}">
                            <i class="fa {{ item.class }}"></i>&nbsp;{% trans item.title %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% if request.GET.app_process %}
                  {% include 'patient/dashboard/base_appointment_process.html' %}
                {% endif %}
                {% block messages %}{% endblock %}
                {% block dashboard_content %}
                {% endblock %}






                <!--
                <button type="button" class="btn-u btn-u-default btn-u-sm btn-block">Load More</button>
                -->
                <!--End Notification-->

                <!--<div class="margin-bottom-50"></div>-->

                <!--&lt;!&ndash;Datepicker&ndash;&gt;-->
                <!--<form action="#" id="sky-form2" class="sky-form">-->
                    <!--<div id="inline-start"></div>-->
                <!--</form>-->
                <!--&lt;!&ndash;End Datepicker&ndash;&gt;-->
            </div>
            <!--End Left Sidebar-->



        </div>
    </div><!--/container-->
{% endblock %}
