{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load postman_tags %}

{% block button_menu %}

    <ul class="nav nav-justified sidebar-nav-v1" id="sidebar-nav-1" style="margin-top: 40px;">
        {% for item in menus %}
            <li class="list-group-item {% if item == active_menu %}active {% endif %}">
                <a href="{{ item.href }}">
                    <i class="fa {{ item.class }}"></i>&nbsp;{% trans item.title %}
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
{% block content %}

    <div>
        <div class="container content profile">
            <div class="row">
                {% if request.GET.app_process %}
                    {% include 'patient/dashboard/base_appointment_process.html' %}
                {% endif %}
                {% block messages %}
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-8">
                            {% include 'form_messages.html' %}
                        </div>
                    </div>
                {% endblock %}
                {% block dashboard_content %}
                {% endblock %}
            </div>
        </div>

    </div>
{% endblock %}
