{% extends 'patient/base_dashboard.html' %}
{% load i18n %}
{% block messages %}
    {% if error %}
       <div class="col-sm-12 alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <h4>{% trans 'This time is already taken' %}</h4>
            <p>
                {% trans 'You must change time of appointment at' %}
                <a href="{% url 'patient:consultation_edit' pk=appointment.pk %}">
                    {% trans 'Appointment Edit' %}
                </a>
            </p>
       </div>
    {% else %}
        {% include 'form_messages.html' %}
    {% endif %}
{% endblock %}
{% block dashboard_content %}
    {# {% include 'doctor/ajax/patient_details.html' %} #}
    {% include 'patient/dashboard/app_process/confirm.html' %}
{% endblock %}