{% extends 'patient/base_dashboard.html' %}
{% load i18n postman_tags %}
{% load staticfiles %}
{% load pagination_tags %}
{% load i18n %}
{% load static %}
{% block links %}
    <link href="{% static 'css/select2.css' %}" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <link rel="stylesheet" type='text/css'
          href="{% static 'css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/current_doctor_style.css' %}"/>



{% endblock %}
{% block js %}
    <script src="{% static 'js/select.js' %}"></script>
    <script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>
    <script type="text/javascript" src="{% static 'js/appointment_room_availability.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/enter_appointment_room.js' %}"></script>

{% endblock %}
{% block messages %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            {% include 'form_messages.html' %}
        </div>
    </div>
{% endblock %}
{% block dashboard_content %}
    <!-- Profile Content -->
    <div class="col-md-9">
        <div class="profile-body">

            <div class="profile-info">

                <div class="easy-block-v3 service-or equal-height-column">
                    <div class="service-bg"></div>
                    {% if user.patient %}
                        {% with patient=user.patient %}
                            {% if patient.photo %}
                                <img src="{{ patient.photo.url }}">
                            {% else %}
                                <img src="{% static 'img/user_man.jpg' %}">
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% if user.doctor.photo %}
                            <img src="{{ user.doctor.photo.url }}"
                                 class="rounded-x full-height"/>
                        {% else %}
                            {% if user.doctor.gender %}
                                <img class="rounded-x full-height"
                                     src="{% static 'img/doctor_man.jpg' %}">
                            {% else %}
                                <img class="rounded-x full-height"
                                     src="{% static 'img/doctor_woman.png' %}">
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="inner-faq-b">
                        <p>{% trans 'Welcome' %}</p>
                        <a href="{% url 'patient:my_account' %}">
                            <h3>
                                 {{ user.patient }}
                            </h3>
                        </a>
                    </div>
                </div>

            </div>

            {% include 'patient/dashboard/current_appointments.html' %}

            <div class="talk-to-doctor">

                <div class="easy-block-v3 service-or equal-height-column">
                    <div class="col-sm-12 col-md-12">
                        <img src="{% static 'img/doctor.png' %}"/>

                        <div class="inner-faq-b">
                            <a href="{% url 'patient:talk_to_a_doctor' %}">
                                <h3>{% trans 'Talk to a doctor' %}</h3>
                            </a>

                            <p>{% trans 'Speak to the next available Provider' %}.</p>
                        </div>

                    </div>
                    <div class="search col-md-12 col-sm-12">
                        <form class="form-inline" role="form"
                              action="{% url 'patient:talk_to_a_doctor' %}"
                              method="get">
                            <div class="specialty form-group col-sm-3"
                                 style="margin-right: 0px;">
                                <div>
                                    <label>{% trans 'Specialty' %}:</label>
                                </div>
                                <div>
                                    <select class="form-control"
                                            name="doctor_specialty">
                                        <option value=""
                                                selected>{% trans 'Choose specialty' %}</option>
                                        {% for specialty in specialties %}
                                            <option value="{{ specialty.id }}">{% trans specialty.name %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="date-range form-group col-sm-4"
                                 style="margin-right: 0px;">
                                <div>
                                    <label>{% trans 'Date' %}:</label>
                                </div>
                                <div>
                                    <div class="input-group input-daterange">

                                        <input type="text" class="form-control"
                                               value="" name="start_date">
                                        <span class="input-group-addon">to</span>
                                        <input type="text" class="form-control"
                                               value="" name="end_date">
                                    </div>
                                </div>
                            </div>
                            <div class="doctor-block form-group col-sm-3"
                                 style="margin-right: 0px;">
                                <div>
                                    <label>{% trans 'Doctors' %}:</label>
                                </div>
                                <div>
                                    <select class="form-control" name="doctor"
                                            data-url="{% url 'patient:all_doctors' %}">
                                        <option value=""
                                                selected>{% trans 'Choose doctor' %}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="search-but form-group button col-sm-2"
                                 style="margin-right: 0px;">
                                <div>
                                    <label style="visibility: hidden;">{% trans 'Search' %}</label>
                                </div>
                                <div>
                                    <button type="submit"
                                            class="small-search btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">
                                        <span class="glyphicon glyphicon-search"></span>
                                        {% trans 'Search' %}
                                    </button>
                                </div>
                            </div>
                            <div class="margin-bottom-20"></div>
                            <div class="rate-block form-group col-sm-12"
                                 style="margin-right: 0px;">


                                <div class="col-sm-12">
                                    <label class="col-sm-12">{% trans 'Consult rate' %}: </label>

                                    <div class="input-group">
                                        <input class="form-control "
                                               id="slider-rate-value1"
                                               name="slider_rate_value1"
                                               type="number" max="300" min="0"
                                               value="0"/>
                                        <span class="input-group-btn"
                                              style="width:0px;"></span>
                                        <input class="form-control " id="slider-rate-value2" name="slider_rate_value2" type="number" max="300" min="0" value="300"/>
                                        </div>
                                </div>

                                <div id="sky-form" class="sky-form col-sm-12">


                                    <section>
                                        <div id="slider_rate" name="slider-div"></div>
                                    </section>

                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

            <div class="row equal-height-columns margin-bottom-40">
                <div class="col-sm-6">

                    <div class="easy-block-v3 service-or equal-height-column">
                        <div class="service-bg"></div>
                        <img src="{% static 'img/message.png' %}"/>

                        <div class="inner-faq-b">
                            <a href="{% url 'patient:inbox' %}">
                                <h3>{% trans 'Message Center' %}</h3>
                            </a>

                            <h5>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur." %}</h5>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="easy-block-v3 service-or equal-height-column">
                        <div class="service-bg"></div>
                        <img src="{% static 'img/health.png' %}"/>

                        <div class="inner-faq-b">
                            <a href="{% url 'patient:my_health_history' %}">
                                <h3>{% trans 'My health' %}</h3>
                            </a>

                            <h5>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.' %}</h5>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row equal-height-columns margin-bottom-40">
               <div class="col-sm-6">

                    <div class="easy-block-v3 service-or equal-height-column">
                        <div class="service-bg"></div>
                        <img src="{% static 'img/consultation.png' %}"/>

                        <div class="inner-faq-b">
                            <a href="{% url 'patient:consultation' %}">
                                <h3>{% trans 'Consultation History' %}</h3>
                            </a>

                            <h5>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.' %}</h5>
                        </div>
                    </div>

                </div>
                <div class="col-sm-6">

                    <div class="easy-block-v3 service-or equal-height-column">
                        <div class="service-bg"></div>
                        <img src="{% static 'img/my_account.ico' %}"/>

                        <div class="inner-faq-b">
                            <a href="{% url 'patient:my_account' %}">
                                <h3>{% trans 'My Account' %}</h3>
                            </a>

                            <h5>{% trans 'Manage your account information, including payment, sign-in and more.' %}</h5>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- End Profile Content -->

    <!--Notification-->
    <div class="panel-heading-v2 overflow-h">
        <h2 class="heading-xs pull-left"><i
                class="fa fa-bell-o"></i>{% trans 'Notifications' %}</h2>
        <ul class="list-unstyled mCustomScrollbar margin-bottom-20"
            data-mcs-theme="minimal-dark">
            <li class="notification">
                <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>

                <div class="overflow-h">
                    {% if postman_unread_count %}
                        <span>{% trans 'You have' %} <strong>{{ postman_unread_count }} {% trans ' message(s)' %}</strong></span>
                        <a href="{% url 'patient:inbox' %}">
                            {% trans 'Read all' %}
                        </a>
                    {% else %}
                        <span>{% trans "You don't have new message(s)" %}</span>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>

        {% include 'partials/consult_rate_confirmation.html' %}

{% endblock %}
