{% extends 'patient/account/base_account.html' %}
{% load ehealth_custom_tags %}
{% load i18n %}
{% load static %}
{% load tz %}
{% block account_content %}
<div class="col-sm-12 col-sm-offset-1">

        <table class="table">
            <thead>
                <tr class="head-color rounded-th">
                    <th class="text-center">{% trans 'Transaction Date' %}</th>
                    <th class="text-center">{% trans 'Status' %}</th>
                    <th class="text-center">{% trans 'Amount, €' %}</th>
                    <th class="text-center">{% trans 'Payment Type' %}</th>
                    <th class="text-center">{% trans 'Case' %}</th>
                    <th class="text-center">{% trans 'Appointment Date' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td class="text-center">{{ transaction.created_at|localtime }}</td>
                        <td class="text-center">{{ transaction.status|convert_title }} {% if transaction.refunded_transaction_id %}({% trans 'Refunded' %}){% endif %} </td>
                        <td class="text-center">{{ transaction.amount }} </td>
                        <td class="text-center">{{ transaction.custom_fields.type }}  </td>
                        <td>{{ transaction.custom_fields.case }} </td>
                        <td class="text-center">{{ transaction.custom_fields.appointment_date|str_to_date }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>

{% endblock %}
