{% extends 'patient/account/base_account.html' %}
{% load i18n %}
{% load static %}
{% block account_content %}
    <div class="col-sm-offset-1">
        <table class="table">
            <thead>
                <tr class="head-color rounded-th">
                    <th>Time Stamp</th>
                    <th>Activity Type</th>
                    <th>Provider</th>
                </tr>
            </thead>
            <tbody>
                {% for record in history_records %}
                    <tr>
                        <td>{{ record.record_date }} </td>
                        <td>{{ record.type.get_name_display }}</td>
                        <td>
                            {%  if record.provider  %}
                                {{ record.provider.user.first_name }}{{ record.provider.user.last_name }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
