{% extends 'doctor/schedule/base_schedule.html' %}
{% load i18n %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/style_my_health.css' %}"/>
    <link rel="stylesheet" type='text/css' href="{% static 'css/chosen.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}" >

{% endblock %}
{% block account_content %}
    <div class="row">

        <form id="calendar-form" class="form-inline" role="form" action="{% url 'doctor:time' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="first_day">
            <input type="hidden" name="last_day">
            <div class="form-group week-picker col-sm-5 col-md-3"></div>
            <div class="week-form col-sm-12 col-md-9"></div>
        </form>

    </div>
    <div id="week-schedule" class="res hidden" data-url="{% url 'doctor:appointment' %}">
        {% include 'doctor/schedule/week_calendar.html' %}
    </div>



    <div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="InfoModalLabel">{% trans 'Patient info' %}</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
    </div>



    <div class="res" data-url="{% url 'doctor:appointment' %}">

    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        var calendar_language = "{{ language }}";
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/doctor_appointments.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.weekpicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar.js' %}"></script>

{% endblock %}