{% extends 'patient/dashboard/my_health/base_myhealth.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "My History" %}
{% endblock %}
{% block tab_content %}
<div class="table-responsive">
    <table class="table" style="margin-top: 15px;">
        <thead>
        <tr class="head-color rounded-th">
            <th class="text-center">{% trans 'Date' %}</th>
            <th class="text-center">{% trans 'Doctor' %}</th>
            <th class="text-center">{% trans 'Problem' %}</th>
            <th class="text-center">{% trans 'Description' %}</th>
            <th class="text-center">{% trans 'Appointment Type' %}</th>
            <th class="text-center">{% trans 'Status' %}</th>

        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td class="text-center">
                    {{ appointment.appointment_time.start_time }}
                </td>
                <td class="text-center">

                    {{ appointment.case.doctor }}

                </td>
                <td class="text-center">
                    {{ appointment.case.problem }}
                </td>
                <td class="text-center">
                    {{ appointment.case.description }}
                </td>
                <td class="text-center">
                    {% if appointment.appointment_type == 'p' %}
                        <span class="glyphicon glyphicon-headphones"></span>
                        {% trans 'Phone' %}
                    {% else %}
                        {% if appointment.appointment_type == 'v' %}
                            <span class="glyphicon glyphicon-facetime-video"></span>
                                            {% trans 'Video' %}
                        {% endif %}
                    {% endif %}
                </td>
                <td class="text-center">
                    {{ appointment.status }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

