{% extends 'patient/dashboard/my_health/base_myhealth.html' %}
{% load ehealth_custom_tags %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans "My Records" %}
{% endblock %}
{% block tab_content %}
    </br>
     <div class=" row">
        <form class="form-inline" role="form"
              action="{% url 'patient:my_records' %}"
              method="get">
            <div class="form-group col-sm-3">
                <div class="col-sm-3">
                    <h5><strong>{% trans 'Type' %}:</strong></h5>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" name="type">
                        <option value="">{% trans 'Choose type' %}</option>
                        {% with current_type=request.GET.type %}
                            {% for key, value in types.iteritems %}
                                <option value={{ key }} {% if current_type == key|slugify %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        {% endwith %}
                    </select>
                </div>
            </div>


            <div class="form-group col-sm-3">
                <div class="col-sm-5">
                    <h5><strong>{% trans 'Search by' %}:</strong></h5>
                </div>
                <div class="col-sm-7">
                    {% with search_query=request.GET.search %}
                        <input class="form-control" name="search"
                               placeholder="Enter query"
                               {% if search_query %}value="{{ search_query }}"{% endif %}>{% endwith %}
                </div>
            </div>

            <div class="form-group col-sm-6">
                <div class="col-sm-offset-10 text-center">
                    <button type="submit" class="btn-u btn-u-dark">
                        <span class="glyphicon glyphicon-filter"></span>
                        {% trans 'Filter' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="files">
        <div class="table-container" aria-expanded="false">
            <div class="table-responsive ">
                {% if files.exists %}
                    <table class="table" style="margin-top: 15px;">
                        <thead>
                            <tr class="head-color rounded-th">
                                <th class="text-center">{% trans 'Type' %}</th>
                                <th class="text-center">{% trans 'Description' %}</th>
                                <th class="text-center">{% trans 'Request Form' %}</th>
                                <th class="text-center">{% trans 'Result Report / Record' %}</th>
                                <th class="text-center">{% trans 'Conclusions' %}</th>
                                <th class="text-center">{% trans 'Requested By' %}</th>
                                <th class="text-center">{% trans 'Completed By' %}</th>
                                <th class="text-center">{% trans 'Additional Files' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in files %}
                            <tr>

                                <td class="text-center">{{ file.get_type_display }}</td>
                                <td class="text-center">{{ file.description|default_if_exists:"-" }}</td>
                                <td class="text-center">
                                    <a href="{{ file.request_form.url }}" download="{{ file.request_form.name }}">
                                        {{ file.request_formname }}
                                    </a>
                                </td>
                                <td class="text-center">
                                 {% if file.result_report_or_record %}
                                    <a href="{{ file.result_report_or_record.url }}" download="{{ file.result_report_or_record.name }}">
                                        {{ file.result_report_or_recordname }}
                                    </a>
                                     {% else %}
                                     -
                                 {% endif %}
                                </td>
                                <td class="text-center">{{ file.conclusions|default_if_exists:"-" }}</td>
                                <td class="text-center">{{ file.requested_by|default_if_exists:"-" }}</td>
                                <td class="text-center">{{ file.completed_by|default_if_exists:"-" }}</td>
                                <td class="text-center">
                                    {% if file.additionalfile_set.all %}
                                    <ul>
                                        {% for files in file.additionalfile_set.all %}
                                        <li>
                                            <a href="{{ files.file.url }}" download="{{ files.file.name }}">
                                                {{ files.filename }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                        {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="text-center"><h2>{% trans 'No previous documents found' %}</h2></div>
                {% endif %}

            </div>
        </div>
    </div>

    {% get_url_attrs type=request.GET.type search=request.GET.search as additional_attributes %}
    {% include 'partials/pagination.html' with additional_attributes=additional_attributes  %}

{% endblock %}
