{% extends 'doctor/base_dashboard.html' %}
{% load i18n %}
{% load static %}
{% block links %}
    <link rel="stylesheet" type='text/css'
          href="{% static 'css/style_my_health.css' %}">
    {% block case_links %}{% endblock %}
{% endblock %}
{% block dashboard_content %}
    <div class="container profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="md-margin-bottom-40">
                {% if case %}
                    <div class="pull-right">
                        <h5>{% trans 'Patient' %}: {{ case.patient }}</h5>
                    </div>
                    <div class="pull-right">
                        <h5>{% trans 'Problem' %}: {{ case.problem|truncatechars:50 }}&nbsp;&nbsp;&nbsp;</h5>
                    </div>
                {% endif %}
                <div>
                    <ul class="nav nav-tabs">
                        {% for tab in tabs %}
                            <li {% if active_tab == tab %}
                                    class="active" {% endif %}>
                                <a href="{{ tab.href }}">
                                    {% trans tab.title %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="tab-content"><br>
                    {% block case_content %}{% endblock %}



                </div>


            </div>



        </div>
    </div><!--/container-->
{% endblock %}
