{% extends 'doctor/case/base_case.html' %}
{% load ehealth_custom_tags %}
{% load i18n %}
{% load static %}
{% block case_content %}


    <div class=" row">
        <form class="form-inline" role="form"
              action="{% url 'doctor:all_cases' type %}"
              method="get">
            <div class="form-group col-sm-3">
                <div class="col-sm-3">
                    <h5><strong>{% trans 'Patient' %}:</strong></h5>
                </div>
                <div class="col-sm-9">
                    <select class="form-control" name="patient">
                        <option value="">{% trans 'Choose patient' %}</option>
                        {% with current_patient=request.GET.patient %}
                            {% for p in patients %}
                                <option value="{{ p.id }}"
                                        {% if p.id|slugify == current_patient %}selected{% endif %}>{{ p }}</option>
                            {% endfor %}
                        {% endwith %}
                    </select>
                </div>
            </div>


            <div class="form-group col-sm-3">
                <div class="col-sm-5">
                    <h5><strong>{% trans 'Search by' %}:</strong></h5>
                </div>
                <div class="col-sm-7">
                    {% with search_query=request.GET.search %}
                        <input class="form-control" name="search"
                               placeholder="Enter query"
                               {% if search_query %}value="{{ search_query }}"{% endif %}>{% endwith %}
                </div>
            </div>

            <div class="form-group col-sm-6">
                <div class="col-sm-offset-10 text-center">
                    <button type="submit" class="btn-u btn-u-dark">
                        <span class="glyphicon glyphicon-filter"></span>
                        {% trans 'Filter' %}
                    </button>
                </div>
            </div>
        </form>
    </div>

    {#        unused javascript search#}
    {#        <div class="form-group pull-right">#}
    {#            <form id="id_form_search_case">#}
    {#                <div class="col-sm-5">#}
    {##}
    {#                    <input class="form-control rounded-2x" id="id_search_case"#}
    {#                           maxlength="50">#}
    {##}
    {#                </div>#}
    {#                <div class="col-sm-2">#}
    {#                    <button class="btn btn-success"#}
    {#                            type="submit">{% trans 'Search case' %}</button>#}
    {#                </div>#}
    {#            </form>#}
    {#        </div>#}
    {#        <br>#}
    {% if object_list %}
        <div class="table-container">
            <table class="table" style="margin-top: 15px;">
                <thead>
                <tr class="head-color rounded-th">
                    <th width="20%">{% trans 'Patient' %}</th>
                    <th width="20%">{% trans 'Problem' %}</th>
                    <th width="30%">{% trans 'Description' %}</th>
                    <th width="15%">{% trans 'Is Second Opinion' %}</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for case in cases %}
                    <tr class="case-item">
                        <td class="case-item-search">

                            {% if case.patient.user.first_name %}
                                {{ case.patient.user.first_name }}
                                {{ case.patient.user.last_name }}
                            {% else %}
                                {{ case.patient.user.username }}
                            {% endif %}
                        </td>
                        <td class="case-item-search">
                            {{ case.problem|default_if_none:"-" }}
                        </td>
                        <td class="case-item-search">

                            {{ case.description|default_if_none:"-" }}
                        </td>
                        <td>

                            {% if case.is_second_opinion %}
                                {% trans 'Yes' %}
                            {% else %}
                                {% trans 'No' %}
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-success"
                               href="{% url 'doctor:case_overview' pk=case.id %}">{% trans 'View' %}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <br>
        <div class="text-center"><h2>{% trans 'No cases found' %}</h2></div>
    {% endif %}

    {% get_url_attrs patient=request.GET.patient search=request.GET.search as additional_attributes %}
    {% include 'partials/pagination.html' with additional_attributes=additional_attributes  %}





    {#    <a class="btn btn-success" methods="get" href="{% url 'doctor:new_case' %}">{% trans 'Add new case' %}</a>#}

{% endblock %}
{% block js %}
    <script type="text/javascript">
    </script>
    <script type="text/javascript"
            src="{% static 'js/search_case.js' %}"></script>
{% endblock %}



