{% extends 'doctor/case/base_case.html' %}
{% load i18n %}
{% load static %}
{% block case_content %}

    <div class="case-menu col-sm-3">


        <ul class="nav nav-pills nav-stacked">
            {% for tab in case_tabs %}
                <li {% if active_case_tab == tab %} class="active" {% endif %}>
                    <a href="{{ tab.href }}">
                        <h3>{{ tab.title }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>


    </div>
    <div class="col-sm-9 case-content">
        {% block case_tab_content %}
        {% endblock %}
    </div>
{% endblock %}


