{% extends 'doctor/base_dashboard.html' %}
{% load i18n %}
{% load i18n postman_tags %}
{% load staticfiles %}
{% load pagination_tags %}
{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/appointment_room_availability.js' %}"></script>
{% endblock %}
{% block dashboard_content %}
            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <div class="profile-info">
                            <div class="easy-block-v3 service-or equal-height-column">
                                <div class="service-bg"></div>
                                {% if user.doctor %}
                                    {% with doctor=user.doctor %}
                                         {% if user.doctor.photo %}
                                             <img src="{{ user.doctor.photo.url }}" class="rounded-x full-height" />
                                         {% else %}
                                             {% if user.doctor.gender %}
                                                 <img class="rounded-x full-height" src="{% static 'img/doctor_man.jpg' %}">
                                             {% else %}
                                                 <img class="rounded-x full-height" src="{% static 'img/doctor_woman.png' %}">
                                             {% endif %}
                                         {% endif %}
                                    {% endwith %}
                                {% else %}
                                    <img src="{% static 'img/user_man.jpg' %}">
                                {% endif %}
                                <div class="inner-faq-b">
                                    <p>{% trans 'Welcome' %}</p>
                                    <a href="{% url 'doctor:my_account' %}">
                                        <h3>
                                            {% if user.first_name %}
                                                {{ user.first_name }} {{ user.last_name }}
                                            {% else %}
                                                {{ user.username }}
                                            {% endif %}
                                        </h3>
                                    </a>
                                </div>
                            </div>

                    </div>

                    <div class="row equal-height-columns margin-bottom-40">
                         <div class="col-sm-12">
                                <div class="easy-block-v3 service-or equal-height-column">
                                    <div class="service-bg"></div>
                                    <img src="{% static 'img/message.png' %}"/>
                                    <div class="inner-faq-b">
                                        <a href="{% url 'doctor:inbox' %}">
                                            <h3>{% trans 'Message Center' %}</h3>
                                        </a>
                                        <h5>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dapibus justo vel tincidunt consectetur.' %}</h5>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="row equal-height-columns margin-bottom-40">

                        <div class="col-sm-6">

                                <div class="easy-block-v3 service-or equal-height-column">
                                    <div class="service-bg"></div>
                                    <img src="{% static 'img/my_account.ico' %}"/>
                                    <div class="inner-faq-b">
                                        <a href="{% url 'doctor:my_account' %}">
                                            <h3>{% trans 'My Account' %}</h3>
                                        </a>
                                        <h5>{% trans 'Manage your account information, including payment, sign-in and more.' %}</h5>
                                    </div>
                                </div>
                        </div>
                    </div>

                <div class="easy-block-v3 service-or equal-height-column">
                   {% include 'doctor/dashboard/current_appointments.html' %}
                </div>
                </div>
            </div>
            <!-- End Profile Content -->

            <!--Notification-->
                <div class="panel-heading-v2 overflow-h">
                    <h2 class="heading-xs pull-left"><i class="fa fa-bell-o"></i>{% trans 'Notifications' %}</h2>
                    <ul class="list-unstyled mCustomScrollbar margin-bottom-20" data-mcs-theme="minimal-dark">
                        <li class="notification">
                            <i class="icon-custom icon-sm rounded-x icon-bg-blue icon-line fa fa-comments"></i>
                            <div class="overflow-h">
                                {% if postman_unread_count %}
                                    <span>{% trans 'You have' %} <strong>{{ postman_unread_count }} {% trans ' message(s)' %}</strong></span>
                                    <a href="{% url 'patient:inbox' %}">
                                        {% trans 'Read all' %}
                                    </a>
                                {% else %}
                                    <span>{% trans "You don't have new message(s)" %}</span>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
{% endblock %}
