.no-border {
    border: none;
}

.bordered-bottom{
    border-bottom: 1px solid green;
}

.appointment span{
    background-color: #72C02C;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding-top: 5px;
    text-align: center;
}

select:hover,
select:active{
    border-color: green;
}


.when{
    margin-top: 5px;
}



.input-daterange input:first-child {
    border-radius: 0
}

.input-daterange input:last-child {
    border-radius: 0
}

select#appointment_time{
    width: 15em;
}

.height-header{
    min-height: 10vh;

}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.tag-box-v2 {
    border-left: 1.5px solid grey
}

section.no-margin {
    margin: 0;
}

.full-width {
    width: 100%;
}

.consult-rate{
    padding: 4px 7px;
}