.no-border{
    border: none;
}

.complete{
    padding-left: 0px;
    padding-right: 5%;
    height: 21px;
}


.head{
    border-bottom: 3px solid red;
}

.icons{
    width: 35px;
    height: 35px;
    border-radius: 10px;
}

.help{
    margin-top: 10px;
}

@media(max-width: 991px) {
    .update{
        margin-top: 10px;
    }
}

@media(max-width: 767px) {
    .help{
        margin-top: 50px;
    }

}


.margin-h-ft{
    margin: 0 10px;
}

.tab-v2 .tab-content{
    padding: 10px 16px;
}

.width-td{
    width: 60%;
}

.head-color{
    background-color: lightgrey;
}

.rounded-th > th:first-child{
    border-radius: 10px 0 0 10px;
}

.rounded-th > th:last-child{
    border-radius: 0 10px 10px 0;
}

.padding-left{
    padding-left: 5px;
}



.help > ul > li{
    margin-bottom: 7px;
}

.table>tbody>tr>td{
	border-top:none;
	border-bottom: 1px solid #ddd;
}


.table>tbody>tr:last-child>td {
	border-bottom: none;
}

.by_center{
    margin: 0 auto;
    display: block;
}

.in_my_health{
    display: inline;
}

.table-container{
 min-height: 45em;
    margin-top: 15px;

}

div.five-column
{
    width: 20%;
}

.pay-with{
    padding-top: 20%;
}