{% load i18n %}
{% load static %}
{% block links %}
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-calendar/css/calendar.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-calendar-app.css' %}"/>
{% endblock %}
{% block js %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'js/appointment_times.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-calendar-app.js' %}"></script>

{% endblock %}


<div class="modal-dialog modal-lg doctor-info">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <div class="profile-info row">
                <div class="easy-block-v3 no-border">
                    {% if doctor.photo %}
                        <img class="img-responsive img-bordered full-width" src="{{ doctor.photo.url }}" alt="">
                    {% else %}
                        {% if doctor.gender %}
                            <img class="img-responsive img-bordered full-width" src="{% static 'img/doctor_man.jpg' %}"
                                 alt="">
                        {% else %}
                            <img class="img-responsive img-bordered full-width"
                                 src="{% static 'img/doctor_woman.png' %}" alt="">
                        {% endif %}
                    {% endif %}
                    <div class="inner-faq-b">
                        <h3>
                            {{ doctor }}
                        </h3>

                        <div>
                            {% with specialities=doctor.doctorspecialty_set.all %}
                                {% for speciality in specialities %}
                                    <span class="label label-light rounded">{% trans speciality.specialty.name %}</span>
                                {% endfor %}
                            {% endwith %}
                        </div>
                        <div class="appointment">
                            <h4>
                                {% trans 'Appointment Type' %}:<span class="glyphicon glyphicon-facetime-video"></span>{% trans 'Video' %}
{#                                {% if doctor.phone_appointment or doctor.video_appointment %}#}
{#                                    {% if doctor.phone_appointment %}#}
{#                                        <span class="glyphicon glyphicon-headphones"></span>#}
{#                                        {% trans 'Phone' %}#}
{#                                    {% endif %}#}
{#                                    {% if doctor.video_appointment %}#}
{#                                        <span class="glyphicon glyphicon-facetime-video"></span>#}
{#                                        {% trans 'Video' %}#}
{#                                    {% endif %}#}
{#                                {% else %}#}
{#                                    {% trans 'No Appointment' %}#}
{#                                {% endif %}#}
                            | {% trans 'Consult rate' %}: €{{ doctor.consult_rate }}
                            </h4>

                        </div>
                        <div class="when">
                        <div class="col-sm-7 no-padding">
                            {% if appointment_time.exists %}
                                <h4>{% trans 'First available appointment is on ' %}
                                    {% with first_time=appointment_time|first  %}
                                        {{ first_time.start_time.date }}
                                    {% endwith %}</h4>
                                </div>
                                <div class="col-sm-3">
                                <button class="btn-u show-schedule">{% trans 'Show Schedule' %}</button></div>
                            {% else %}
                                <h4>{% trans 'Not available' %}</h4>
                            {% endif %}
                        </div>



                    </div>

{#                        <div class="when">#}
{#                            <div class="col-sm-2 col-md-1">#}
{#                                <h4>{% trans 'When' %}:</h4>#}
{#                            </div>#}
{#                        {% if appointment_time.exists %}#}
{#                            <div class="col-sm-4 col-md-4">#}
{#                                <select id="appointment_time" class="form-control appointment-date">#}
{#                                    {% for time in appointment_time %}#}
{#                                        <option data-url="{% url 'patient:appointment_request' pk=time.id %}">#}
{#                                            {{ time.start_time }}#}
{#                                        </option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                                <button id="make_appointment" type="button" class="btn btn-primary" data-toggle="modal"#}
{#                                        data-target="#appointment-request">#}
{#                                    Make appointment#}
{#                                </button>#}
{#                            </div>#}
{#                        {% else %}#}
{#                            <div class="col-sm-4">#}
{#                                <h4>{% trans 'Not available' %}</h4>#}
{#                            </div>#}
{#                        {% endif %}#}
{#                        <div class="times col-sm-6 col-md-9"></div>#}
{#                    </div> #}

                    <div class="col-sm-12 padding-top-25">
                        <div class="calendar-header text-center">
                           <div class="col-sm-1 no-padding">
                               <button class="btn pull-left btn-default hidden" type="button" id="day-prev"><span class="fa fa-chevron-left"></span> </button>
                               </div>

                            <h3 class="col-sm-10"></h3>
                            <div class="col-sm-1 no-padding">
                            <button class="btn pull-right btn-default hidden" type="button" id="day-next"><span class="fa fa-chevron-right"></span> </button></div>
                        </div>
                        <div id="calendar" data-template="{% static 'plugins/bootstrap-calendar/templates/' %}" data-doctor="{{ doctor.id }}" data-url="{% url 'patient:get_doctor_day_schedule' %}">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body row">

            <div class="col-sm-6">
                <h2 class="bordered-bottom">{% trans 'Location' %}</h2>

                <div>
                    <h4>{{ doctor.country }}, {{ doctor.city }}</h4>
                </div>
            </div>
            <div class="col-sm-6">
                <h2 class="bordered-bottom">{% trans 'Languages Spoken' %}</h2>
                <div>
                    {% with languages=doctor.languages %}
                        {% if languages.exists %}
                            <ul class="list-inline">
                                {% for language in languages.all %}
                                    <li>
                                        <h4>
                                            {{ language.name }}
                                            {% if forloop.last == False %} , {% endif %}
                                        </h4>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h4>{% trans 'No Languages' %}</h4>
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <h2 class="bordered-bottom">Qualifications</h2>
                {% with qualifications=doctor.licensed_state.all %}
                    {% if qualifications.exists %}
                        {% for qualification in qualifications %}
                            <ul class="list list-group">
                                <li>
                                    <h4>{{ qualification.name }}</h4>
                                </li>
                            </ul>
                        {% endfor %}
                    {% else %}
                        <h4>{% trans 'No Qualifications' %}</h4>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
