{%  load i18n  %}
{% load static %}
{% block js %}
        <script type="text/javascript" src="{% static 'js/appointment_request.js' %}"></script>
{% endblock %}
{% if times.exists %}
    <div>
        {% for time in times %}
            {% if time.free %}
                <a href="{% url 'patient:appointment_request' pk=time.id %}" class="free-time">
                    <span class="label label-light rounded">
                        {{ time.start_time | date:"P" }}
                    </span>
                </a>
            {% else %}
                <span class="label label-red rounded">
                    {{ time.start_time | date:"P" }}
                </span>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <h6>{% trans 'No appointment time' %}</h6>
{% endif %}

