{% extends 'patient/base_dashboard.html' %}
{% load i18n %}
{% load static %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/current_doctor.js' %}"></script>
    <script src="{% static 'js/select.js' %}"></script>
{% endblock %}

{% block links %}
    <link rel="stylesheet" type='text/css' href="{% static 'css/bootstrap-datepicker3.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/current_doctor_style.css' %}"/>
    <link href="{% static 'css/select2.css' %}" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}

{% block dashboard_content %}

    <div class="search row">
        <form class="form-inline" role="form" action="{% url 'patient:talk_to_a_doctor' %}" method="get">
            <div class="form-group col-md-offset-1 col-sm-3 col-md-2">
                <label>Specialty:</label>
                <select class="form-control" name="doctor_specialty">
                    <option value="">Choose specialty</option>
                    {% for specialty in specialties %}
                        <option value="{{ specialty.id }}"
                                {% if specialty.id == choosed_specialty %} selected {% endif %}>
                            {{ specialty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-sm-3 col-md-4">
                <label>Date:</label>

                <div class="input-group input-daterange">

                    <input type="text" class="form-control" value="{{ start_date }}" name="start_date">
                    <span class="input-group-addon">to</span>
                    <input type="text" class="form-control" value="{{ end_date }}" name="end_date">
                </div>
            </div>

            <div class="form-group col-sm-3 col-md-2">
                <label>Doctors:</label>
                <select class="form-control" name="doctor"
                        data-url="{% url 'patient:all_doctors' %}">
                    <option value="" selected>Choose doctor</option>
                </select>
            </div>
            <div class="form-group button col-sm-2 col-md-1">
                <label style="visibility: hidden;">Search</label>
                <button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">
                    <span class="glyphicon glyphicon-search"></span>
                    Search
                </button>
            </div>
        </form>
    </div>


    <div class="attention">
        <p>
            <span class="glyphicon glyphicon-alert"></span>
            {% trans 'If your issue is an emergency, please dial' %}
            <strong>911</strong>
            {% trans 'or go to the nearest emergency room. We does not offer emergency services' %}
        </p>
    </div>
    {% if not doctors.exists %}
        <h4 class="text-center">Any doctor with this specialty</h4>
    {% else %}
        {% for doctor in doctors %}
            <div class="row about-me">
                <div class="col-sm-2 shadow-wrapper md-margin-bottom-40">
                    <div class="box-shadow shadow-effect-2">
                        {% if doctor.photo %}
                            <img class="doctor-img img-responsive img-bordered full-width" src="{{ doctor.photo.url }}"
                                 alt="">
                        {% else %}
                            {% if doctor.gender %}
                                <img class="doctor-img img-responsive img-bordered full-width"
                                     src="{% static 'img/doctor_man.jpg' %}" alt="">
                            {% else %}
                                <img class="doctor-img img-responsive img-bordered full-width"
                                     src="{% static 'img/doctor_woman.png' %}" alt="">
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="overflow-h">
                        <div class="pull-left">
                            {% with user=doctor.user %}
                                <a class="doctor-link" href="{% url 'patient:detail_doctor' pk=doctor.id %}">
                                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                                </a>
                                {% with specialities=doctor.doctorspecialty_set.all %}
                                    {% for speciality in specialities %}
                                        <span class="label label-light rounded">{% trans speciality.specialty.name %}</span>
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        </div>

                    </div>

                </div>
                <div class="row schedule">
                    <div class="col-sm-12">
                        {% with data=doctor.get_available_time %}
                            {% if data %}
                                <p>{% trans 'Available' %} <strong>{{ data.start_time }}</strong></p>
                            {% else %}
                                <p>{% trans 'Not available soon!Please, look the schedule' %}</p>
                            {% endif %}
                        {% endwith %}
                        <a href="{% url 'patient:detail_doctor' pk=doctor.id %}"
                           class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block doctor-link">
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                            <i class="fa fa-calendar"></i>
                            {% trans 'Schedule' %}
                        </a>
                    </div>
                </div>


            </div>

            <hr/>
        {% endfor %}
    {% endif %}


    <div id="cur-doctor" class="modal fade" role="dialog" aria-hidden="true"
         tabindex="-1">

    </div>
{% endblock %}
