{% extends 'patient/base_dashboard.html' %}
{% load ehealth_custom_tags %}
{% load i18n %}
{% load static %}
{% block js %}
    <script src="https://js.braintreegateway.com/js/braintree-2.20.0.min.js"></script>

    <script type="text/javascript"
            src="{% static 'js/current_doctor.js' %}"></script>
    <script src="{% static 'js/select.js' %}"></script>

    <script src="{% static 'js/appointment_request.js' %}"></script>
    <script src="{% static 'js/leave-pop-up-confirmation.js' %}"></script>
    <script src="{% static 'js/appointment_process.js' %}"></script>

{% endblock %}

{% block links %}
    <link rel="stylesheet" type='text/css'
          href="{% static 'css/bootstrap-datepicker3.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/current_doctor_style.css' %}"/>
    <link href="{% static 'css/select2.css' %}" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <script type="text/javascript"
            src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <link rel="stylesheet" type='text/css' href="{% static 'css/menu_process.css' %}"/>
{% endblock %}

{% block dashboard_content %}

<div class="talk-to-doctor-container">
    <div class="search row">
        <form class="form-inline" role="form" action="{% url 'patient:talk_to_a_doctor' %}" method="get">
            <div class="specialty form-group col-md-offset-1 col-sm-3 col-md-2">
                <label>{% trans 'Specialty' %}:</label>
                <select class="form-control" name="doctor_specialty">
                    <option value="">Choose specialty</option>
                    {% for specialty in specialties %}
                        <option value="{{ specialty.id }}"
                                {% if specialty.id == chosen_specialty %} selected {% endif %}>
                            {{ specialty.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="date-range form-group col-sm-4 col-md-4">
                <label>{% trans 'Date' %}:</label>


                    <div class="input-group input-daterange">

                        <input type="text" class="form-control"
                               value="{{ start_date }}" name="start_date">
                        <span class="input-group-addon">{% trans 'to' %}</span>
                        <input type="text" class="form-control"
                               value="{{ end_date }}" name="end_date">
                    </div>
                </div>


            <div class="doctor-block form-group col-sm-2 col-md-2">
                <label>{% trans 'Doctors' %}:</label>
                <select class="form-control" name="doctor"
                        data-url="{% url 'patient:all_doctors' %}">
                    <option value="" selected>{% trans 'Choose doctor' %}</option>
                </select>
            </div>
            <div class="search-but form-group button col-sm-2 col-md-1">
                <label style="visibility: hidden;">Search</label>
                <button type="submit" class="small-search btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">
                    <span class="glyphicon glyphicon-search"></span>
                    {% trans 'Search' %}
                </button>
            </div>
                            <div class="margin-bottom-20"></div>

                        <div class="rate-block form-group col-sm-12"
                                 style="margin-right: 0px;">


                                <div class="col-sm-12">
                                    <label class="col-sm-12">{% trans 'Consult rate' %}: </label>

                                    <div class="input-group">
                                        <input class="form-control" id="slider-rate-value1" name="slider_rate_value1" type="number" max="300" min="0"
                                               value="{% if consult_rate_start %}{{ consult_rate_start }}{% else %}0{% endif %}"/>
                                        <span class="input-group-btn"
                                              style="width:0px;"></span>
                                        <input class="form-control" id="slider-rate-value2" name="slider_rate_value2" type="number" max="300" min="0"
                                               value="{% if consult_rate_end %}{{ consult_rate_end }}{% else %}300{% endif %}"/>
                                        </div>
                                </div>
                            <div class="col-sm-10 col-sm-offset-1">
                                <div id="sky-form" class="sky-form">

                                    <section>
                                        <div id="slider_rate" name="slider-div"></div>
                                    </section>

                                </div>

                            </div>
                         </div>
        </form>
    </div>


        <div class="attention">
            <p>
                <span class="glyphicon glyphicon-alert"></span>
                {% trans 'If your issue is an emergency, please dial' %}
                <strong>911</strong>
                {% trans 'or go to the nearest emergency room. We does not offer emergency services' %}
            </p>
        </div>
        {% if not doctors.exists %}
            <h4 class="text-center">{% trans 'Any doctor with this specialty' %}</h4>
        {% else %}
            {% for doctor in doctors %}
                <div class="row about-me col-xs-12 col-sm-12">
                    <div class="col-xs-3 col-sm-2">

                            {% if doctor.photo %}
                                <img class="doctor-img img-responsive img-bordered full-width"
                                     src="{{ doctor.photo.url }}"
                                     alt="">
                            {% else %}
                                {% if doctor.gender %}
                                    <img class="doctor-img img-responsive img-bordered full-width"
                                         src="{% static 'img/doctor_man.jpg' %}"
                                         alt="">
                                {% else %}
                                    <img class="doctor-img img-responsive img-bordered full-width"
                                         src="{% static 'img/doctor_woman.png' %}"
                                         alt="">
                                {% endif %}
                            {% endif %}

                    </div>

                    <div class="col-xs-4 col-sm-6 col-md-7">
                            <div class="pull-left">
                                    <a class="doctor-link"
                                       href="{% url 'patient:detail_doctor' pk=doctor.id %}">
                                        <h2>{{ doctor }}</h2>
                                    </a>
                                    {% with specialities=doctor.doctorspecialty_set.all %}
                                        {% for speciality in specialities %}
                                            <span class="label label-light rounded">{% trans speciality.specialty.name %}</span>
                                        {% endfor %}
                                    {% endwith %}
                            </div>


                    </div>

                    <div class="col-xs-5 col-sm-4 col-md-3 available-time">
                        {% with data=doctor|get_available_time:request.user.patient %}
                            {% if data %}
                                <p class="pull-right">{% trans 'Available' %}
                                    <strong>{{ data.start_time }}</strong>
                                </p>
                            {% else %}
                                <p class="pull-right">{% trans 'Not available soon!Please, look the schedule' %}</p>
                            {% endif %}
                        {% endwith %}
                        <br/>
                        <a href="{% url 'patient:detail_doctor' pk=doctor.id %}"
                           class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block doctor-link pull-right">
                            <!--<span class="glyphicon glyphicon-calendar"></span>-->
                            <i class="fa fa-calendar"></i>
                            {% trans 'Schedule' %}
                        </a>
                    </div>



                </div>


            {% endfor %}
            <h2 class="hide appointment_create"></h2>
            {% if request.GET.app_process %}
                <div class="col-sm-12">
                    <a class="pull-right btn-u btn-u-sea"
                       href="{% url 'patient:all_cases' type='open' %}?app_process=true&case=true{% if request.GET.pk %}&pk={{ request.GET.pk }}{% endif %}">{% trans 'Next' %}</a>
                </div>
            {% endif %}
        {% endif %}


        <div id="cur-doctor" class="modal fade" role="dialog" aria-hidden="true"
             tabindex="-1">

        </div>

        <div id="appointment-request" class="modal fade" role="dialog"
             aria-hidden="true"
             tabindex="-1">
        </div>

        <div id="pop-up" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">x
                        </button>
                        <h2></h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-offset-1 col-sm-10 redirecting-text text-justify">
                                <h5></h5>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-12">

                                <a class="btn btn-default pull-right add_file"
                                   data-toggle="modal"
                                        data-url="{% url 'patient:appointment_process1' %}">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


         <div class="modal fade" id="proccessModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog  modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{% trans 'Appointment creation proccess' %}</h2>
                    </div>

                    <div class="modal-body" style="
                                max-height: 600px;
                                overflow-y: auto;
                            ">
                        <a class="add_file" href=""></a>
                        <div class="row">
                            {% include 'patient/dashboard/base_appointment_process.html' %}
                        </div>
                        <div class="row">
                            <div class="form_content" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="leaveModal" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog  modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{% trans 'Confirmation' %}</h2>
                    </div>
                    <form id="leaveModalForm" action="" method="get" class="confirm">

                        <div class="modal-body">
                            <h5>{% trans 'Do you want to cancel the appointment creating?' %}
                                <br>
                                {% trans 'You will not be able to create another appointment until creating of this one has been done.' %}
                            </h5>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10">
                                    <button type="submit"
                                            class="btn-u btn-brd btn-u-blue btn-u-sm pull-left"
                                            data-dismiss="modal"
                                            id="leaveModalCancel"> {% trans 'No' %}</button>
                                    <button id="approveAppCancel" type="submit"
                                            class="btn-u btn-brd btn-u-red pull-right" >{% trans 'Yes' %} </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="modal fade" id="paymentConfirmation" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>{% trans 'Payment Method Confirmation' %}</h2>
                    </div>
                        <div class="modal-body">
                            <div class="alert alert-info fade in text-center">
                                <h4>
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    {% trans 'To confirm the appointment, you will be charged ' %} <strong>€<span class="deposit"></span></strong> {% trans ' as a deposit.' %}
                                </h4>
                            </div>

                            {% include 'partials/braintree_payment_form.html' %}

                            <p>&nbsp;</p>
                        </div>


                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-10  pull-right">
                                    <form id="paymentConfirmationForm" action="{% url 'patient:payment' %}">

                                    <button type="submit"
                                            class="btn btn-default"
                                            data-dismiss="modal"
                                            id="cancelPayment" disabled> {% trans 'Cancel' %}</button>

                                    <button form="paymentConfirmationForm" id="continuePayment" type="submit"
                                            class="btn btn-default" disabled>{% trans 'Continue' %} </button>
                                        </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}
