{% extends 'patient/base_dashboard.html' %}
{% load i18n %}
{% load static %}
{% block links %}
    <link rel="stylesheet" href="{% static 'css/style_my_health.css' %}"/>
{% endblock %}
{% block dashboard_content %}
   <div class="tag-box tag-box-v6 row col-sm-12">
            <!--Left Sidebar-->
            <div class="text-center">
                <div class="row">
                    {% if not request.GET.app_process %}
                        {% for item in tabs %}
                            <div class="col-sm-2">
                                    <div>
                                        <a href="{{ item.href }}">
                                            <img src="{% static item.img %}" class="icons by_center in_my_health" />
                                            {% if item == active_tab %}
                                                <strong>{{ item.title }}</strong>
                                            {% else %}
                                                {{ item.title }}
                                            {% endif %}
                                        </a>
                                    </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8">
                    {% include 'form_messages.html' %}
                </div>
            </div>

             <br/>
            <br/>
            <div class="row">
                <div class="head col-md-4 col-sm-6 margin-bottom-40">
                    <h1><strong>
                        {{ active_tab.title }}
                    </strong></h1>
                </div>
                <div class="col-sm-10 tab-content">
                    {% block account_content %}{% endblock %}
                </div>
            </div>



    </div><!--/container-->
{% endblock %}
