{% extends 'doctor/account/base_account.html' %}
{% load i18n %}
{% load static %}
{% block js %}
    <script src="{% static 'js/photo_check.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/remove-error-messages.js' %}"></script>
{% endblock %}
{% block account_content %}
     <div>
        <div class="alert alert-danger fade in hidden photo-error text-center">
            <button type="button" class="close" id="close_alert_button">x</button>
            <h4>{% trans 'Your photo is too large!' %}</h4>
            <p>{% trans "The maximum photo's size is 10Mb. Please, choose another photo" %}</p>
        </div>
        <form class="form-horizontal account" role="form" action="{% url 'doctor:my_account' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-sm-offset-1">

                <div class="user col-sm-9">
                    {% for field in user_form %}
                        {% with errors=field.errors %}
                            <div class="form-group {% if errors %}has-error{% endif %}">
                                <div class="col-sm-4">
                                    {{ field.label_tag }}
                                </div>
                                <div class="col-sm-8">
                                    {{ field }}
                                    {% if errors %}
                                        {% for error in errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <br/>
                        {% endwith %}
                    {% endfor %}
                </div>
                <div class="col-sm-3">
                <div class="pull-right">
                    {% if detail_form.instance.photo %}
                        <img class="photo" src="{{ detail_form.instance.photo.url }}"/>
                    {% else %}
                        {% if detail_form.instance.gender %}
                            <img class="photo" src="{% static 'img/doctor_man.jpg' %}"/>
                        {% else %}
                            <img class="photo" src="{% static 'img/doctor_woman.png' %}"/>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row col-sm-offset-1" style="margin-top: 15px;">
                <div class="col-sm-12">
                {% for field in detail_form %}
                    {% with errors=field.errors %}
                        <div class="form-group {% if errors %}has-error{% endif %}">
                            <div class="col-sm-3">
                                {{ field.label_tag }}
                            </div>

                            <div class="col-sm-9">
                                 {% if field.label == 'Consult rate' %}
                                        <div class="input-group">
                                            {{ field }}
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                        </div>

                                    {% else %}
                                        {{ field }}
                                    {% endif %}
                                {% if errors %}
                                    {% for error in errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}
                </div>
            </div>

            {% with errors=user_form.non_field_errors detail_errors=detail_form.non_field_errors %}
                {% if errors or detail_errors %}
                    <div class="has-error">
                    {% for error in errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    {% for error in detail_errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <div class="form-group pull-right">
                <div class="col-sm-12">
                <button id="update" type="submit" class="btn btn-u">
                    {% trans 'Save' %}
                </button>
                    </div>
            </div>
        </form>
    </div>
{% endblock %}
