{% extends 'doctor/account/base_account.html' %}
{% load i18n %}
{% load static %}
{% block account_content %}
        <div>
            <table class="table">
                <thead>
                    <tr class="head-color rounded-th">
                        <th>Time Stamp</th>
                        <th>Payment</th>
                        <th>Summ</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in history_records %}
                        <tr>
                            <td>{{ record.record_date }} </td>
                            <td>{{ record.payment }}</td>
                            <td>{{ record.money }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
{% endblock %}
